{% extends 'base.html' %}

{% block title %}
  Community List
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h4 class="mb-3">Communities</h4>

      {% for community in communities %}
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="mb-1"><a href="{{ community.get_absolute_url }}" class="text-decoration-none">r/{{ community.slug }}</a></h5>

            <small class="text-muted">Created by {{ community.created_by.username }}</small>

            {% if community.description %}
              <p class="mt-2 mb-0">{{ community.description|truncatewords:20 }}</p>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <p class="text-muted">No communities found.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
