{% extends 'base.html' %}

{% block title %}
  Post Form
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h3>Post Form</h3>

    <form method="post" action="{% url 'post_update' community_slug=post.community.slug post_slug=post.slug %}">
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div style="color:red;">
              {% for error in field.errors %}
                {{ error }}<br />
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
